<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Hometeam</th>
      <th>Awayteam</th>
      <th>Hour</th>
      <th>Scorehometeam</th>
      <th>Scoreawayteam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.homeTeam %></td>
        <td><%= game.awayTeam %></td>
        <td><%= game.hour %></td>
        <td><%= game.scoreHomeTeam %></td>
        <td><%= game.scoreAwayTeam %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
